body{
	background-image: url('http://images5.fanpop.com/image/photos/26500000/Mario-Background-nintendo-26503062-1680-1050.jpg');
	background-size: cover;
	background-position: center; 
}

h1{
	color: #16161054;
}

#titleBanner {
	margin-bottom: 3%;
	background-image: ;
}


#contentHolder {
	padding-top: 15%;
	padding-bottom: 15%;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: black;
	height:
}