@font-face {
    font-family: myFirstFont;
    src: url(PressStart2P.ttf);
    font-size: 12px;
}

body{
	background-image: url('http://images5.fanpop.com/image/photos/26500000/Mario-Background-nintendo-26503062-1680-1050.jpg');
	background-size: cover;
	background-position: center; 
}

h1{
	color: #a2a2a2;
}

.submit {
	margin-top: 15px;
}

.submitColor {
	background-color: white;
}

#begginingInstructions {
	color: white;
	font-family: myFirstFont;
	font-size: 12px;
}

#titleBanner {
	font-family: myFirstFont;
	color: white;
	margin-bottom: 3%;
	background-image: ;
}

#countdownDisplay {
	font-family: myFirstFont;
}


#contentHolder {
	padding-top: 15%;
	padding-bottom: 15%;
	margin-bottom: 10%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: black;
	height:
}